<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ncl.nclcustomerservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />-->

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.ncl.nclcustomerservice.application.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name="com.ncl.nclcustomerservice.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d07be349f0b40a2d50608a91caba150b9d628b7a" />

        <service android:name="com.ncl.nclcustomerservice.services.LocationService" />
        <service android:name="com.ncl.nclcustomerservice.services.DownloadService" />

        <activity android:name="com.ncl.nclcustomerservice.activity.MainActivity" />
        <activity android:name="com.ncl.nclcustomerservice.activity.LoginActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCUsrullMfwdTxYTC42r0XMDxIw2DHj3E8" />

        <service android:name="com.ncl.nclcustomerservice.checkinout.CheckoutService" />

        <receiver android:name="com.ncl.nclcustomerservice.checkinout.LocationProviderChanged">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.ncl.nclcustomerservice.checkinout.JobScheduleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.ncl.nclcustomerservice.checkinout.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <receiver android:name="com.ncl.nclcustomerservice.checkinout.AlarmReceiver">
            <intent-filter>
                <action android:name="com.test.intent.action.ALARM" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ncl.nclcustomerservice.checkinout.CheckoutAlarmReceiver">
            <intent-filter>
                <action android:name="com.nsl.intent.action.ALARM" />
            </intent-filter>
        </receiver>

        <!--
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.SignUp"
        android:windowSoftInputMode="adjustResize"
        -->

        <activity
            android:name="com.ncl.nclcustomerservice.activity.NewSignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.SignUp"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.CreateCustomerProjectActivity"/>

        <service android:name="com.ncl.nclcustomerservice.fcm.MyFirebaseMessagingService1">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ncl.nclcustomerservice.application.BackgroundService" />

        <receiver
            android:name="com.ncl.nclcustomerservice.broadcastreceiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- <service -->
        <!-- android:name="com.suprasoft.ncl.checkinout.LocationUpdateService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:stopWithTask="false" -->
        <!-- /> -->
        <!-- <receiver android:name="com.suprasoft.ncl.checkinout.AlarmReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.test.intent.action.ALARM" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!--
         <service
             android:exported="false"
             android:name=".oreo.LocationUpdatesJobService1">
             <intent-filter>
                 <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
             </intent-filter>
         </service>
         <receiver android:name="com.nsl.beejtantra.oreo.MyWakefulReceiver"></receiver>
        -->


        <!-- <service -->
        <!-- android:name="com.suprasoft.ncl.checkinout.JobScheduleService" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE"/> -->


        <!-- <receiver android:name="com.suprasoft.ncl.checkinout.LocationProviderChanged"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.location.PROVIDERS_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <receiver -->
        <!-- android:name="com.suprasoft.ncl.checkinout.StartMyActivityAtBootReceiver" -->
        <!-- android:label="StartMyServiceAtBootReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name="com.ncl.nclcustomerservice.activity.CreateNewContactActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.SignUp"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ncl.nclcustomerservice.activity.ContactViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ncl.nclcustomerservice.activity.NewContactViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.ncl.nclcustomerservice.activity.ImageViewActivity" />

        <service
            android:name="com.ncl.nclcustomerservice.uploadfiles.FileUploadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.ncl.nclcustomerservice.uploadfiles.OffLineDataUploadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.ncl.nclcustomerservice.uploadfiles.FileProgressReceiver">
            <intent-filter>
                <action android:name="com.wave.ACTION_CLEAR_NOTIFICATION" />
                <action android:name="com.wave.ACTION_PROGRESS_NOTIFICATION" />
                <action android:name="com.wave.ACTION_UPLOADED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ncl.nclcustomerservice.uploadfiles.RetryJobReceiver">
            <intent-filter>
                <action android:name="com.wave.ACTION_RETRY" />
                <action android:name="com.wave.ACTION_CLEAR" />
            </intent-filter>
        </receiver>


    </application>

</manifest>